<%= form_with(model: survey_technician, local: true) do |form| %>
  <% if survey_technician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey_technician.errors.count, "error") %> prohibited this survey_technician from being saved:</h2>

      <ul>
      <% survey_technician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :survey_site_id %>
    <%= form.text_field :survey_site_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
