<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey_image.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @survey_image.img %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey_image.description %>
</p>

<p>
  <strong>Survey site:</strong>
  <%= @survey_image.survey_site %>
</p>

<%= link_to 'Edit', edit_survey_image_path(@survey_image) %> |
<%= link_to 'Back', survey_images_path %>
